<h1>{{title}}</h1>
  <md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Options
  </md-sidenav>

  <div class="example-sidenav-content">
    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>
<md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>

<md-progress-bar mode="indeterminate"></md-progress-bar>
<app-snackbar></app-snackbar>
<app-friends></app-friends>
<br>
<p appTestdirective> testdirective testdirective </p>
